{#
/**
 * @file
 * Section header.
 */
#}
{% set attributes = attributes.addClass('section-header') %}
{% if variants.is_centered %}
  {% set attributes = attributes.addClass('is-centered') %}
{% endif %}

<header{{ attributes }}>
  <h2 class="drop-cap-title{% if variants.dash_under %} has-dash--under{% else %} has-dash--left{% endif %}{% if variants.is_featured %} has-dash--emphasis{% endif %}">
    <span class="drop-cap-title__name">{{ superhead }}</span>
    <span class="drop-cap-title__drop-cap" aria-hidden="true">{{ superhead|first_char }}</span>
  </h2>
  <p>{{ subhead|render|striptags|trim }}</p>

  {{ link }}
</header>
