{#
/**
 * @file
 * Highlight card pattern.
 */
#}
<div{{ attributes.addClass('highlight-card') }}>

  {{ link|openlink({class:"highlight-card__action"}) }}
    <span class="highlight-card__intro">{{ intro }}</span>
    <h4 class="highlight-card__title">{{ title }}</h4>
    <p>{{ description }}</p>

  {% if link|closelink %}
      <div class="highlight-card__arrow">
        <svg class="i-svg i-svg--arrow-right"><use xlink:href="#i-arrow" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg>
      </div>
    {{ link|closelink }}
  {% endif %}
</div>
