{#
/**
 * @file
 * Feature card pattern.
 */
#}
<div class="feature-card{% if has_arrow %} has-arrow{% endif %}">
  {% if link is not empty %}
  <a class="feature-card__link" href="{{ link|render|striptags|trim }}">
  {% endif %}
    <div class="feature-card__thumbnail">
      {{ image }}
      {% if tag %}
        <div class="feature-card__tag">
          <h6>{{ tag }}</h6>
        </div>
      {% endif %}
    </div>
  {% if link is not empty %}
  </a>
  {% endif %}
  
  <p class="feature-card__description">{{ description }} <a href="{{ link|render|striptags|trim }}"><span class="feature-card__arrow"><svg class="i-svg i-svg--arrow-right"><use xlink:href="#i-arrow" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg></span></a></p>
  <a class="feature-card__more" href="{{ link|render|striptags|trim }}">See More {{ tag }}</a>
</div>